body {
    color: #FFFFEE;
    margin: 0;
    text-align: center;
    font-family: "HiraMinProN-W6";
  }
  h2{
    margin: 0;
  }
  hr{
    margin-bottom: 50px;
    height: 5px;
    width: 100px;
    border: none;
  }
  .blue-line{
    background-color: #FFFFFF;
  }
  .white-line{
    background-color: #FFFFFF;
  }
  
  /* header */
  header{
    background-color: #393e4f;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  header ul{
    margin: 0px;
  }
  header ul li {
    display: inline-block;
    padding: 0 20px;
  }
  header ul li a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
  }
  header img {
    height: 30px;
  }
  
  /* footer */
  footer{
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
  }
  
  /* top */
  .top {
    background-image: url(image/top.jpg);
    background-size: cover;
    padding: 200px 0;
  }
  .top h1 {
    font-size: 70px;
    letter-spacing: 5px;
  }
  
  /* about */
  .about{
    background-color: #393e4f;
    padding: 100px;
  }
  .about img{
    width: 200px;
  }
  .about table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  
  /* skills */
  .skills{
    background-color: #485859;
    padding: 100px;
  }
  .box{
    background: #382517;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    width: 15%;
  }
  .box img{
    display: block;
    margin: 20px auto;
    width: 50%;
  }

   /* qualification */
   .qualification{
    background-color: #8fbc8f;
    padding: 100px;
  }
  .box{
    background: #382517;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    width: 15%;
  }
  .box img{
    display: block;
    margin: 20px auto;
    width: 50%;
  }
  
  /* lessons */
  .lessons{
    background-color: #393f4c;
    padding: 100px;
  }
  .card {
    background: #382517;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    width: 25%;
  }
  .card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }

    /* school */
  .school{
    background-color: #426579;
    padding: 100px;
  }
  .card {
    background: #382517;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    width: 25%;
  }
  .card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }

    /* event */
  .event{
    background-color: #2c4f54;
    padding: 100px;
  }
  .card {
    background: #382517;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    width: 25%;
  }
  .card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }

    /* work */
  .work{
    background-color: #5f9ea0;
    padding: 100px;
  }
  .card {
    background: #382517;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    width: 25%;
  }
  .card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }

    /* favorite */
  .favorite{
    background-color: #5b7e91;
    padding: 100px;
  }